.heading{
    width: 100%;
    margin: 0;
    font-size: 22px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div{
    float: none;
    color: black;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}

.heading_div2{
    font-size: 18px;
}

body{
    
}